chainlit==2.5.5
python-dotenv==1.1.1
boto3==1.39.3
passlib==1.7.4
pillow==11.3.0
python-docx==1.2.0
httpx==0.28.1
requests==2.32.4
cohere==5.15.0
langchain==0.3.26
langchain-aws==0.2.27
langchain-community==0.3.27
langchain-core==0.3.68
langchain-cohere==0.4.4
langchain-openai==0.3.27
langchain-text-splitters==0.3.8
PyMuPDF==1.26.3
PyJWT==2.10.1
python-jose[cryptography]
asyncpg==0.30.0
chromadb==1.0.15
motor==3.7.1